.parent{
    background-color: cyan;
}
.child{
    background-color: antiquewhite;
    color: blue;
}
.teen{
    background-color: red;
    color: aliceblue;
}
.young{
    background-color: brown;
    color: gray;
}