.parent{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: burlywood;

}
.child{
    background-color:rgb(46, 111, 139);
    padding: 200px;
}
button{
    margin-left: 100px;
    width: 100px;
    font-size: large;
}
h2{
    margin-left: 50px;
}

