<table class="table table-dark table-bordered">
    <thead>
        <tr>
            <th>Vehicle name</th>
            <th>manufacturer</th>
            <th>model</th>
            <th>type</th>
            <th>fuel</th>
            <th>color</th>
            <th>image</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let vehicle of vehicle">
            <td>{{vehicle.Vehicle}}</td>
            <td>{{vehicle.manufacturer}}</td>
            <td>{{vehicle.model}}</td>
            <td>{{vehicle.type}}</td>
            <td>{{vehicle.fuel}}</td>
            <td>{{vehicle.color}}</td>
            <td>
                <img src="{{vehicle.image}}" width="100px" height="100px" alt="">
            </td>
        </tr>
    </tbody>
</table>
