.parent{
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
}
.child{
    background-color: aqua;
    width:850px;
    height: 950px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
input{
    border-radius: 20px;

}
button{
    background-color:green;
}
.mnnn{
    width: 150px;
}