<div class="parent">
    <div class="child">
        <div class="left">
            <h2>My Web Site</h2>
            <hr>
            <h3 routerLink="home">HOME</h3>
            <h3 routerLink="about">ABOUT</h3>
            <h3 routerLink="data-binding">Data Binding</h3>
            <h3 routerLink="calculator">calculator</h3>
            <h3 routerLink="rectangle">rectangle</h3>
            <h3 routerLink="bmi">bmi</h3>
            <h3 routerLink="directives">directives</h3>
            <h3 routerLink="table">table</h3>
            <h3 routerLink="pipes">pipes</h3>
            <h3 routerLink="Grade">Grade</h3>
            <h3 routerLink="bank">Bank</h3>
            <h3 routerLink="users">users</h3>
            <h3 routerLink="vehicle">vehicle</h3>
            <h3 routerLink="account">account</h3>
            <h3 routerLink="practice">practice</h3>
            <h3 routerLink="flipkart">flipkart</h3>
            <h3 routerLink="email">email</h3>
            <h3 routerLink="gallary">gallary</h3>
            <h3 routerLink="boredom">boredom</h3>
            <h3 routerLink="github">github</h3>
            <h3 routerLink="createvehicle">createvehicle</h3>
            <h3 routerLink="user">user</h3>
            <h3 routerLink="createaccount">createaccount</h3>
            <h3 routerLink="vehicledetails">vehicledetails</h3>
            <h3 routerLink="todo">todo</h3>
            <h3 routerLink="parent">parent</h3>
            <h3 routerLink="child">child</h3>
            <h3 routerLink="rating-parent">rating-parent</h3>
            <h3 routerLink="rating-child">rating-child</h3>
            <h3 routerLink="result-parent">result-parent</h3>
            <h3 routerLink="result-child">result-child</h3>
            <h3 routerLink="item">item</h3>
            <h3 routerLink="nav">nav</h3>
            <h3 routerLink="cart">cart</h3>
        
            <hr>
            <button (click)="logout()">logout</button>
        </div>
        <div class="right">
            <router-outlet></router-outlet>
        </div>

    </div>
    
</div>

